[class*="NavBar-logoContainer-"] {
    background-image: url("https://rlovelace78.github.io/theme.park-plex/css/addons/plex/plex-alt-logo/beam.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: -2 2px;
    width: 110px;
}
[class*="NavBar-logoContainer-"] svg {
    display: none;
}
[class*="plex-preloader-container plex-image-preloader plex-logo"] {
    background-image: url("https://rlovelace78.github.io/theme.park-plex/css/addons/plex/plex-alt-logo/mediaaa.jpg");
    background-color: black;
    background-position: 500%;
    background-repeat: no-repeat;
    background-size: contain;

   
}
