[class*="NavBar-logoContainer-"] {
    background-image: url("https://github.com/rlovelace78/theme.park-plex/blob/0a017304574c31d21c2615cfeabb49fcc0dd7b11/css/addons/plex/plex-alt-logo/SeekPng.com_your-logo-here-png_2467553.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    width: 40px;
}

[class*="NavBar-logoContainer-"] svg {
    display: none;
}
