[class*="NavBar-logoContainer-"] {
    background-image: url("https://rlovelace78.github.io/theme.park-plex/css/addons/plex/plex-alt-logo/SeekPng.com_your-logo-here-png_2467553.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 2px;
    width: 90px;
}
[class*="NavBar-logoContainer-"] svg {
    display: none;
}
[class*="plex-preloader-container plex-image-preloader plex-logo"] {
    background-image: url("/css/addons/plex/plex-alt-logo/SeekPng.com_your-logo-here-png_2467553.png");
    background-position: 140%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 9 10px;
    width: 140px;
}
[class*="plex-preloader-container plex-image-preloader plex-logo"] PNG {
    display: none;

}
